</div>
</div>
</section>
<div class="site-main-background" arai-hidden="true"></div>
</main>
<!-- Site Wide Footer -->
<footer role="contentinfo" class="footer">
    <div class="container">
        <nav role="navigation" class="clearfix">
            <ul class="col-1-4 footer-section">
                <li>
                    <p><smalL>All Rights Reserved | &copy; <time>2023</time></smalL></p>
                </li>
            </ul>
            <div class="col-1-4 footer-section" aria-labelledby="product-pages">
                <p id="product-pages"><b>About</b></p>
                <ul>
                    <li>
                        <a href="#">Features</a>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">Schedule Demo</a>
                    </li>
                </ul>
            </div>
            <div class="col-1-4 footer-section" aria-labelledby="support-pages">
                <p id="support-pages"><b>Support</b></p>
                <ul>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Documentation</a>
                    </li>
                    <li>
                        <a href="#">API Status</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</footer>
</body>
</html>
