<%- include ("partials/header") -%>

<h3>Halaman UPDATE DATA PROFILES</h3>
<br>
<br>
<form action="/editProfile" method="post">

    <div class="container">
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Name" name="name" value="<%= user.name %>">

        <select name="gender">
            <option value="male" <% if (user.gender === 'male') { %>selected<% } %>>Male</option>
            <option value="female" <% if (user.gender === 'female') { %>selected<% } %>>Female</option>
        </select>

        <select name="education">
            <option value="S3" <% if (user.education === 'S3') { %>selected<% } %>>S3</option>
            <option value="S2" <% if (user.education === 'S2') { %>selected<% } %>>S2</option>
            <option value="S1" <% if (user.education === 'S1') { %>selected<% } %>>S1</option>
            <option value="SMA" <% if (user.education === 'SMA') { %>selected<% } %>>SMA</option>
        </select>

        <label for="experience"><b>Experience</b></label>
        <input value="<%= user.experience %>" type="text" placeholder="Experience" name="experience" >

        <button type="submit">Submit</button>
        <br>
        <br>
    </div>
</form>

<br>
<br>

<%- include ("partials/footer") -%></br>